<div class="form-group">
    <label>
        Section Heading
    </label>
    <input type="text" [(ngModel)]="section.heading" />
</div>
<ul class="sectionItemList">
    <li *ngFor="let item of section.items">
        <label>Before Text: </label><input type="text" [(ngModel)]="item.beforeText" required />
        <select [(ngModel)]="item.contentItemId" (change)="syncValue(item)" >
            <option value="">--All--</option>
            <option *ngFor="let option of options" [value]="option.Id" >
                {{option.Title}}
            </option>
        </select>
    <label>After Text: </label><input type="text" [(ngModel)]="item.afterText" />
    <sf-button icon="remove" look="circle small" (click)="removeItem(item)">Delete</sf-button>
    </li>
</ul>
Add Item<sf-button icon="plus" title="Add Item" (click)="addItem(section)">Add Item</sf-button>